[Unit]
Description=Schedule for BezaForge daily restic backup
Documentation=https://github.com/thejollydev/bezaforge-infrastructure

[Timer]
OnCalendar={{ restic_schedule }}
Persistent=true
RandomizedDelaySec=5min
Unit=bezaforge-restic-backup.service

[Install]
WantedBy=timers.target
